{% comment %} <!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ai</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body>
    

   <civ class="container">
          <button type="button" id="start" class="btn btn-primary"><a href="start"  class="link-light text-decoration-none">Start Interview</a></button>
   </div>

    
    
    <div class="container">
            <form action="run_prompt" method="POST" class="form2" enctype="multipart/form-data">
            {% csrf_token %}
                    <div class="mb-3">
                        <label for="prompt" class="form-label">Enter your prompt</label>
                        <input type="text" name="prompt" class="form-control"  id="speechToText" aria-describedby="prompt" onclick="record()">
                        
                    </div>
                    <button type="submit" id="submit" class="btn btn-primary">Submit</button>
            </form>
            <br>
            <button type="button" id="newchat" class="btn btn-primary">New Chat</button>
            <p>Click on the below button and speak something...</p>
            <p><button type="button" onclick="runSpeechRecognition()">Speech to Text</button> &nbsp; <span id="action"></span></p>
            <div id="output" class="hide">
    </div>
		<script>
			/* JS comes here */
		    function runSpeechRecognition() {
		        // get output div reference
		        var output = document.getElementById("speechToText");
		        // get action element reference
		        var action = document.getElementById("action");
            var submit = document.getElementById("submit")
                // new speech recognition object
                var SpeechRecognition = SpeechRecognition || webkitSpeechRecognition;
                var recognition = new SpeechRecognition();
            
                // This runs when the speech recognition service starts
                recognition.onstart = function() {
                    action.innerHTML = "<small>listening, please speak...</small>";
                };
                
                recognition.onspeechend = function() {
                    action.innerHTML = "<small>stopped listening, hope you are done...</small>";
                    recognition.stop();
                    submit.click();
                }
              
                // This runs when the speech recognition service returns result
                recognition.onresult = function(event) {
                    var transcript = event.results[0][0].transcript;
                    var confidence = event.results[0][0].confidence;
                    output.value =transcript ;
                    output.classList.remove("hide");
                };
              
                 // start recognition
                 recognition.start();
	        }
		</script>
    <script>
      document.getElementById("newchat").addEventListener("click",function(){
        window.location.href="{% url 'newchat' %}";
      });
    </script>
    </div>
    <div class="block">
        
        {% if result is NULL %}
        <h1>hello there</h1>
        {% else %}
        <h1>{{result}}</h1>
        <audio controls autoplay src="./static/audio/output.mp3"></audio>
        {% endif %}
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>
 {% endcomment %}


<html>
<head>
    <title>Simple Chat Box</title>
    <link rel="stylesheet" type="text/css" href="/static/index.css">
</head>
<body>
  <div class="container">
   <main>
      <div class="chatbox">
        
        <div class="chat-container">
            <!-- Messages -->
            <div id="chatbox">
                
                <p id="botStarterMessage" class="botText"><span><div class="block">
                      <div id="output" class="hide">
                      <p>Click on the below button and speak something... <span id="action"></span></p>

                      {% if result is NULL %}
                      <h1>hello there</h1>
                      {% else %}
                      <h1>"{{result}}"</h1>
                      <audio  autoplay src="./static/audio/output.mp3"></audio>
                      {% endif %}
                  </div></span></p>
            </div>
    
            <!-- User input box -->
        <section>

            <div class="chat-bar-input-block">
                <button class="micbtn" onclick="runSpeechRecognition()">
                    <lord-icon
                    src="https://cdn.lordicon.com/jibstvae.json"
                    trigger="click"
                    stroke="bold"
                    colors="primary:#000000,secondary:#000000"
                    style="width:38px;height:38px">
                    </lord-icon>
               </button>
         
            
               <div id="userInput">
                   
                               <form action="run_prompt" method="POST" class="form2" enctype="multipart/form-data">
                                {% csrf_token %}
                                        <div class="mb-3">
                                            
                                            <input id="speechToText" class="input-box" type="text" name="prompt" placeholder="Talk to ai">
                                            
                                        </div>
                                        <div class="chat-bar-icons">
                                            <button class="arrowbtn" type="submit" id="submit">
                                                <lord-icon
                                                src="https://cdn.lordicon.com/ternnbni.json"
                                                trigger="hover"
                                                style="width:45px;height:45px">
                                            </lord-icon>
                                            </button>  
                                        </div> 
                                       
                                </form>
                 
               </div>
            
                   
            </div>
         </section>

      

   </main>

   <div id="sidebar">
        <div >
            <img src="plus.jpg"class="navicons" id="plusimg">
        </div>
        
        <div >
            <img src="user.jpg" class="navicons">
        </div>

   </div>
   <footer></footer>
  </div>
</body>
<script>
			/* JS comes here */
		    function runSpeechRecognition() {
		        // get output div reference
		        var output = document.getElementById("speechToText");
		        // get action element reference
		        var action = document.getElementById("action");
            var submit = document.getElementById("submit")
                // new speech recognition object
                var SpeechRecognition = SpeechRecognition || webkitSpeechRecognition;
                var recognition = new SpeechRecognition();
            
                // This runs when the speech recognition service starts
                recognition.onstart = function() {
                    action.innerHTML = "<small>listening, please speak...</small>";
                };
                
                recognition.onspeechend = function() {
                    action.innerHTML = "<small>stopped listening, hope you are done...</small>";
                    recognition.stop();
                    submit.click();
                }
              
                // This runs when the speech recognition service returns result
                recognition.onresult = function(event) {
                    var transcript = event.results[0][0].transcript;
                    var confidence = event.results[0][0].confidence;
                    output.value =transcript ;
                    output.classList.remove("hide");
                };
              
                 // start recognition
                 recognition.start();
	        }
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/static/chatbot.js"></script>
<script src="/static/response.js"></script>
<script src="https://cdn.lordicon.com/lordicon-1.1.0.js"></script>
</html>




